node_modules
main.js
*.map
data.json
.direnv
.DS_Store
*.tsbuildinfo
coverage
dist
.idea
.vscode
example/vault/.git
example/worktrees
example/vault/.obsidian/workspace.json
example/vault/.obsidian/workspace-mobile.json
example/vault/.obsidian/plugins/forest/main.js
example/vault/.obsidian/plugins/forest/manifest.json
example/vault/.obsidian/plugins/forest/styles.css
